.about-main{
    margin: 4rem 6rem;
    text-align: start;
}

.about-main h1{
    padding-bottom: 1rem;
}

.about-main p{
    padding-bottom: 2rem;
}

@media screen and (max-width: 850px){
    .about-main{
        margin: 4rem 2rem;
    }
}