.contact-form{
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"] {
    width: 30rem;
    padding: 20px 20px;
    border-radius: 20px;
    margin: 10px 0px;
    background-color: lightgray;
    border: none;
    font-weight: bolder;
}

textarea{
    padding: 20px 20px;
    width: 30rem;
    margin: 10px 0px;
    border-radius: 20px;
    background-color: lightgray;
    border: none;
    font-weight: bolder;
}

.contact-image{
    width: 800px;
    height: 600px;
}

.contact-image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

form button{
    background-color: dodgerblue;
    width: 50%;
    display: block;
    padding: 20px 20px;
    margin: 10px 0px;
    border-radius: 20px;
    font-weight: bold;
}

.forms h1{
    color: dodgerblue;
    font-size: 2.1rem;
}

@media screen and (max-width : 850px){
    .contact-form{
        flex-direction: column;
        padding: 4rem 2rem;
    }
    .contact-image{
        display: none;
    }
    input[type="text"], input[type="email"] {
        width: 20rem;
    }
    textarea{
        width: 20rem;
    }

    form button{
        background-color: dodgerblue;
        width: 70%;
        padding: 15px 15px;
    }
    
}
